# Parse Txt

In [1]:
import PyPDF2 as pydf
import pandas as pd
from pandas import DataFrame as DF, Series
import numpy as np
import re

In [2]:
path = 'results-5-2010.pdf'
pdf = open(path, 'rb')

In [3]:
reader = pydf.PdfFileReader(pdf)

In [4]:
page = reader.getPage(2)

In [5]:
print(page.extractText())

May 18, 2010, Primary Election Abstracts of Votes * Nominee
** Elected WI = Write In
 3REPRESENTATIVE IN CONGRESS, 1ST DISTRICT Democrat  Robinson *Wu Misc.
County David David
 Clatsop 888 3,937 25

Columbia 1,510 4,495 46
Multnomah 1,812 11,843 31
Washington 8,029 34,593 201
Yamhill 1,863 6,571 80
 TOTAL 14,102 61,439 383
REPRESENTATIVE IN CONGRESS, 1ST DISTRICT Republican  Keller Kuzmanich Brodhead *Cornilles Misc.
County Douglas Fitzgerald John Stephan Andrew Rob
 Clatsop 732 681 94 1,146 37
Columbia 1,110 1,146 121 1,091 23
Multnomah 776 971 50 1,388 26
Washington 9,886 9,070 725 13,764 163
Yamhill 2,281 2,596 223 4,052 50
 TOTAL 14,785 14,464 1,213 21,441 299

In [6]:
pages = []
for i in range(reader.numPages):
    pages.append(reader.getPage(i).extractText())

In [7]:
pages[1]

'May 18, 2010, Primary Election Abstracts of Votes * Nominee \n** Elected WI = Write In\n 2UNITED STATES SENATOR Republican  Stutzman Parker Later Dinkel \n*Huffman Woodland Waldron Misc. \nCounty Tom Robin S Loren G Shane Jim Walter H       Keith  \nBaker 235 106 375 364 587 32 245 18 \nBenton 797 268 919 702 2,207 86 431 51 \nClackamas 2,940 1,281 3,590\n 3,054 13,624 382 2,582 162 \nClatsop 345 199 302 276 1,044 45 259 45 \nColumbia 383 171 485 568 1,555 66 238 43 \nCoos 843 466 979 830 1,773 128 598 56 \n\nCrook 255 122 329 441 894 60 332 28 \nCurry 339 188 516 539 746 55 258 33 \nDeschutes 1,053 813 2,161 2,103 6,677 189 1,264 107 \nDouglas 1,362 652 1,983 1,901 4,784 208 1,314 113 \nGilliam 20 12 22 28 171 0 11 1 \n\nGrant 90 41 93 209 590 18 81 14 \nHarney 147 71 184 212 280 15 153 19 \nHood River 201 104 148 164 574 21 122 11 \nJackson 1,429 925 3,549 2,838 5,250 251 1,603 106 \nJefferson 116 67 144 297 1,168 34 121  9 \n\nJosephine 890 570 1,568 1,661 2,535 192 1,075 102 \nKlamath 640 501 1,419 1,236 1,978 145 1,005 53 \nLake 195 90 215 203 241 19 187  8 \nLane 2,590 1,385 3,358 3,372 9,528 517 1,396 241 \nLincoln 554 241 526 481 1,287 60 264 36 \n\nLinn 2,074 504 1,622 1,229 3,234 141 753 44 \nMalheur 313 165 441 671 730 42 405 17 \nMarion 3,562 1,283 3,153 2,972 9,140 386 2,107 195 \nMorrow 155 56 128 147 271 31 105 10 \nMultnomah 2,739 1,202 2,826 2,459 12,215 386 2,128 304 \n\nPolk 1,173 339 978 887 2,713 110 691 32 \nSherman 27 11 27 18 202 2 20  4 \nTillamook 286 118 283 266 904 42 253 28 \nUmatilla 515 295 683 817 1,437 87 723 53 \nUnion 367 157 395 508 1,047 42 333 42 \n\nWallowa 95 59 148 328 326 27 193 22 \nWasco 169 81 137 158 1,362 24 148 17 \nWashington 3,512 1,586 4,894\n 3,564 15,615 428 2,450 261 \nWheeler 20 10 15 19 101 2 26  7 \nYamhill 1,428 498 1,158 1,238 3,660 144 728 71 \n TOTAL 31,859 14,637 39,753 36,760 110,\n450 4,417   24,602   2,363 \n'

In [8]:
def get_table_starts(p):
    """ Return list of string indexes where tables begin
        on given page (p).
    """
    return [m.span()[1] for m in re.finditer(r'Democrat|Republican', pages[p])]

In [9]:
def get_table_strings(p, idxs):
    n = len(idxs)
    return [pages[p][idxs[i]:idxs[i+1]-1].lstrip() if i < n-1
            else pages[p][idxs[i]:].lstrip() for i in range(n)]

In [ ]:
def get_table_rows(p, strings):
    tables = []
    for s in strings:

In [10]:
idxs = get_table_starts(1)
strings = get_table_strings(1, idxs)

In [12]:
lines = [l.strip() for l in re.sub('\n\s*(?=\d)', ' ', strings[0]).split('\n') if l != '']
lines = [re.sub('\s{2,}', ' ', l) for l in lines]
last_col_line = [i for i,l in enumerate(lines) if l.startswith('County')][0]
last_row_line = [i for i,l in enumerate(lines) if l.startswith('TOTAL')][0]
rows = [re.sub('(?!\d), (?=\d)', '', r) for r in lines[last_col_line+1:last_row_line+1]]
rows = [re.sub('\s+(?=\D)', '-', l).replace(',', '').split(' ') for l in rows]
# convert numeric elements to int
rows = [[int(el) if el.isdigit() else el for el in r] for r in rows]
columns = [l.strip('County ') for l in lines[:last_col_line+1]]

In [13]:
DF(rows)

             0      1      2      3      4       5     6      7     8
0        Baker    235    106    375    364     587    32    245    18
1       Benton    797    268    919    702    2207    86    431    51
2    Clackamas   2940   1281   3590   3054   13624   382   2582   162
3      Clatsop    345    199    302    276    1044    45    259    45
4     Columbia    383    171    485    568    1555    66    238    43
5         Coos    843    466    979    830    1773   128    598    56
6        Crook    255    122    329    441     894    60    332    28
7        Curry    339    188    516    539     746    55    258    33
8    Deschutes   1053    813   2161   2103    6677   189   1264   107
9      Douglas   1362    652   1983   1901    4784   208   1314   113
10     Gilliam     20     12     22     28     171     0     11     1
11       Grant     90     41     93    209     590    18     81    14
12      Harney    147     71    184    212     280    15    153    19
13  Hood-River    201    104    148    164     574    21    122    11
14     Jackson   1429    925   3549   2838    5250   251   1603   106
15   Jefferson    116     67    144    297    1168    34    121     9
16   Josephine    890    570   1568   1661    2535   192   1075   102
17     Klamath    640    501   1419   1236    1978   145   1005    53
18        Lake    195     90    215    203     241    19    187     8
19        Lane   2590   1385   3358   3372    9528   517   1396   241
20     Lincoln    554    241    526    481    1287    60    264    36
21        Linn   2074    504   1622   1229    3234   141    753    44
22     Malheur    313    165    441    671     730    42    405    17
23      Marion   3562   1283   3153   2972    9140   386   2107   195
24      Morrow    155     56    128    147     271    31    105    10
25   Multnomah   2739   1202   2826   2459   12215   386   2128   304
26        Polk   1173    339    978    887    2713   110    691    32
27     Sherman     27     11     27     18     202     2     20     4
28   Tillamook    286    118    283    266     904    42    253    28
29    Umatilla    515    295    683    817    1437    87    723    53
30       Union    367    157    395    508    1047    42    333    42
31     Wallowa     95     59    148    328     326    27    193    22
32       Wasco    169     81    137    158    1362    24    148    17
33  Washington   3512   1586   4894   3564   15615   428   2450   261
34     Wheeler     20     10     15     19     101     2     26     7
35     Yamhill   1428    498   1158   1238    3660   144    728    71
36       TOTAL  31859  14637  39753  36760  110450  4417  24602  2363

In [14]:
columns

['Stutzman Parker Later Dinkel',
 '*Huffman Woodland Waldron Misc.',
 'Tom Robin S Loren G Shane Jim Walter H Keith']

In [15]:
print(strings[0])

Stutzman Parker Later Dinkel
*Huffman Woodland Waldron Misc.
County Tom Robin S Loren G Shane Jim Walter H       Keith
Baker 235 106 375 364 587 32 245 18
Benton 797 268 919 702 2,207 86 431 51
Clackamas 2,940 1,281 3,590
 3,054 13,624 382 2,582 162
Clatsop 345 199 302 276 1,044 45 259 45
Columbia 383 171 485 568 1,555 66 238 43
Coos 843 466 979 830 1,773 128 598 56

Crook 255 122 329 441 894 60 332 28
Curry 339 188 516 539 746 55 258 33
Deschutes 1,053 813 2,161 2,103 6,677 189 1,264 107
Douglas 1,362 652 1,983 1,901 4,784 208 1,314 113
Gilliam 20 12 22 28 171 0 11 1

Grant 90 41 93 209 590 18 81 14
Harney 147 71 184 212 280 15 153 19
Hood River 201 104 148 164 574 21 122 11
Jackson 1,429 925 3,549 2,838 5,250 251 1,603 106
Jefferson 116 67 144 297 1,168 34 121  9

Josephine 890 570 1,568 1,661 2,535 192 1,075 102
Klamath 640 501 1,419 1,236 1,978 145 1,005 53
Lake 195 90 215 203 241 19 187  8
Lane 2,590 1,385 3,358 3,372 9,528 517 1,396 241
Lincoln 554 241 526 481 1,287 60 264 36

Linn 2,074 504 1,622 1,229 3,234 141 753 44
Malheur 313 165 441 671 730 42 405 17
Marion 3,562 1,283 3,153 2,972 9,140 386 2,107 195
Morrow 155 56 128 147 271 31 105 10
Multnomah 2,739 1,202 2,826 2,459 12,215 386 2,128 304

Polk 1,173 339 978 887 2,713 110 691 32
Sherman 27 11 27 18 202 2 20  4
Tillamook 286 118 283 266 904 42 253 28
Umatilla 515 295 683 817 1,437 87 723 53
Union 367 157 395 508 1,047 42 333 42

Wallowa 95 59 148 328 326 27 193 22
Wasco 169 81 137 158 1,362 24 148 17
Washington 3,512 1,586 4,894
 3,564 15,615 428 2,450 261
Wheeler 20 10 15 19 101 2 26  7
Yamhill 1,428 498 1,158 1,238 3,660 144 728 71
 TOTAL 31,859 14,637 39,753 36,760 110,
450 4,417   24,602   2,363